<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Mikroblog2</title>
        <link rel="stylesheet" href="static/style.css"/>
    </head>
    <body>
        <h1>Mikroblog2</h1>
        <nav>
            {% if not session.logged_in %}
            <a href="/login">Zaloguj się</a>
            {% else %}
            <a href="/logout">Wyloguj się</a>
            {% endif %}
        </nav>
        <div class="content">
        {% block body %}{% endblock %}
        </div>
    </body>
</html>