{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
    <form action="/add" method="POST" class="add_entry">
        <div class="field">
            <label for="title">Tytuł</label>
            <input type="text" size="30" name="title" id="title"/>
        </div>
        <div class="field">
            <label for="text">Treść</label>
            <textarea name="text" id="text" rows="5" cols="80"></textarea>
        </div>
        <div class="control_row">
            <input type="submit" name="share" value="Podziel się"/>
        </div>
    </form>
    {% endif %}
    <h2>Wpisy</h2>
    <ul class="entries">
    {% for entry in entries %}
        <li>
          <h2>{{ entry.title }}</h2>
          <div class="entry_body">
          {{ entry.text|safe }}
          </div>
        </li>
        {% else %}
        <li><em>Jak dotąd brak wpisów</em></li>
    {% endfor %}
    </ul>
{% endblock %}